<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Arc4Eclipse - debug"
            id="org.arc4eclipse.debug">
      </category>
      <view
            name="Arc4Eclipse - Binding Debug"
            icon="icons/sample.gif"
            category="org.arc4eclipse.debug"
            class="org.softwareFm.debugPanel.views.DebugBindingView"
            id="org.arc4eclipse.debugPanel.views.DebugBindingView">
      </view>
      <view
            name="Arc4Eclipse - Messages Debug"
            icon="icons/sample.gif"
            category="org.arc4eclipse.debug"
            class="org.softwareFm.debugPanel.views.DebugMessageView"
            id="org.arc4eclipse.debugPanel.views.DebugMessageView">
      </view>
      <view
            name="Arc4Eclipse - Events Debug"
            icon="icons/sample.gif"
            category="org.arc4eclipse.debug"
            class="org.softwareFm.debugPanel.views.DebugEventView"
            id="org.arc4eclipse.debugPanel.views.DebugEventView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.arc4eclipse.debugPanel.views.DebugBindingView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.arc4eclipse.debugPanel.views.DebugMessageView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.arc4eclipse.debugPanel.views.DebugEventView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
