<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SoftwareFm - debug"
            id="org.softwareFm.debug">
      </category>
      <view            name="S/W FM - Binding Debug"
            icon="icons/sample.gif"
            category="org.softwareFm.debug"
            class="org.softwareFm.debugPanel.views.DebugBindingView"
            id="org.softwareFm.debugPanel.views.DebugBindingView">
      </view>
      <view            name="S/W FM - Src/Jar Debug"
            icon="icons/sample.gif"
            category="org.softwareFm.debug"
            class="org.softwareFm.debugPanel.views.DebugSrcAndJarView"
            id="org.softwareFm.debugPanel.views.DebugSrcAndJarView">
      </view>
      <view            name="S/W FM - Messages Debug"
            icon="icons/sample.gif"
            category="org.softwareFm.debug"
            class="org.softwareFm.debugPanel.views.DebugMessageView"
            id="org.softwareFm.debugPanel.views.DebugMessageView">
      </view>
      <view            name="S/W FM - Events Debug"
            icon="icons/sample.gif"
            category="org.softwareFm.debug"
            class="org.softwareFm.debugPanel.views.DebugEventView"
            id="org.softwareFm.debugPanel.views.DebugEventView">
      </view>
   </extension>
   <extension         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view                ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.softwareFm.debugPanel.views.DebugBindingView">
         </view>
         <view                ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.softwareFm.debugPanel.views.DebugSrcAndJarView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.softwareFm.debugPanel.views.DebugMessageView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.softwareFm.debugPanel.views.DebugEventView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
