<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension  point="org.softwareFm.urlGenerator">
         <UrlGenerator name="jar" class= "org.softwareFm.entityJarData.JarUrlGenerator" />
   </extension>

   <extension  point="org.softwareFm.displayContainerFactoryConfigurator">
         <UrlGenerator name="jar" class= "org.softwareFm.entityJarData.JarConfigurer" />
   </extension>

   <extension  point="org.softwareFm.displayContainerFactoryConfigurator">
         <DisplayContainerFactoryConfigurator entity="jar" class= "org.softwareFm.entityJarData.JarConfigurer" />
   </extension>


</plugin>
