<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.arc4eclipse.displayers" >
         <display key="list" class ="org.arc4eclipse.displayLists.ListDisplayer"/>
   </extension>
	<extension  point="org.arc4eclipse.bundle">
	      <bundle name ="DisplayLists" class="org.arc4eclipse.displayLists.DisplayListsConstants"/>
	</extension>
	<extension  point="org.arc4eclipse.lineEditor">
	      <lineEditor name ="nameValue" class="org.arc4eclipse.displayLists.NameAndValueLineEditor"/>
	      <lineEditor name ="nameUrl" class="org.arc4eclipse.displayLists.NameAndUrlLineEditor"/>
	</extension>
</plugin>
