<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.softwareFm.displayers" name="Displayers" />
   <extension-point id="org.softwareFm.image" name="Image" />
   <extension-point id="org.softwareFm.bundle" name="Bundle" />
   <extension-point id="org.softwareFm.urlGenerator" name="UrlGenerator" />
   <extension-point id="org.softwareFm.repositoryPropogator" name="RepositoryStatusListenerS" />
   <extension-point id="org.softwareFm.displayContainerFactoryConfigurator" name="DisplayContainerFactoryConfigurator" />
   <extension-point id="org.softwareFm.lineEditor" name="LineEditor" />

<extension  point="org.softwareFm.image">
      <image key="Edit" class ="org.softwareFm.swtBasics.images.Images"/>
      <image key="Help" class ="org.softwareFm.swtBasics.images.Images"/>
      <image key="Browse" class ="org.softwareFm.swtBasics.images.Images"/>
      <image key="Add" class ="org.softwareFm.swtBasics.images.Images"/>
      <image key="Delete" class ="org.softwareFm.swtBasics.images.Images"/>
      <image key="Clear" class ="org.softwareFm.swtBasics.images.Images"/>
</extension>

<extension  point="org.softwareFm.bundle">
      <bundle name ="Basic" class="org.softwareFm.swtBasics.images.Images"/>
      <bundle name ="Core" class="org.softwareFm.core.plugin.Plugins"/>
</extension>


</plugin>
