<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.arc4eclipse.displayers" name="Displayers" />
   <extension-point id="org.arc4eclipse.image" name="Image" />
   <extension-point id="org.arc4eclipse.bundle" name="Bundle" />

<extension  point="org.arc4eclipse.image">
      <image key="Edit" class ="org.arc4eclipse.swtBasics.images.Images"/>
</extension>
<extension  point="org.arc4eclipse.image">
      <image key="Help" class ="org.arc4eclipse.swtBasics.images.Images"/>
</extension>
<extension  point="org.arc4eclipse.image">
      <image key="Browse" class ="org.arc4eclipse.swtBasics.images.Images"/>
</extension>
<extension  point="org.arc4eclipse.image">
      <image key="Add" class ="org.arc4eclipse.swtBasics.images.Images"/>
</extension>
<extension  point="org.arc4eclipse.image">
      <image key="Delete" class ="org.arc4eclipse.swtBasics.images.Images"/>
</extension>
<extension  point="org.arc4eclipse.image">
      <image key="Clear" class ="org.arc4eclipse.swtBasics.images.Images"/>
</extension>

<extension  point="org.arc4eclipse.bundle">
      <bundle name ="Basic" class="org.arc4eclipse.swtBasics.images.Images"/>
</extension>


</plugin>
