<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Software FM"
            id="org.softwarefm">
      </category>
      <view
            name="Code"
            icon="icons/class.png"
            category="org.softwarefm"
            class="org.softwarefm.softwarefm.views.ClassAndMethodView"
            id="org.softwarefm.softwarefm.views.ClassAndMethodView">
      </view>

      <view
            name="Artifact"
            icon="icons/project.png"
            category="org.softwarefm"
            class="org.softwarefm.softwarefm.views.ProjectView"
            id="org.softwarefm.softwarefm.views.ProjectView">
      </view>
      <view
            name="SoftwareFM"
            icon="icons/all.png"
            category="org.softwarefm"
            class="org.softwarefm.softwarefm.views.AllView"
            id="org.softwarefm.softwarefm.views.AllView">
      </view>
      <view
            name="Debug - Text"
            icon="icons/debug.png"
            category="org.softwarefm"
            class="org.softwarefm.softwarefm.views.SoftwareFmDebugView"
            id="org.softwarefm.softwarefm.views.SoftwareFmDebugView">
      </view>
      <view
            name="Debug - Link"
            icon="icons/debug.png"
            category="org.softwarefm"
            class="org.softwarefm.softwarefm.views.DebugLinkView"
            id="org.softwarefm.softwarefm.views.DebugLinkView">
      </view>
   </extension>

</plugin>
