<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category          name="SoftwareFm"            id="org.softwareFm" />
      <view name="Scan"
            icon="icons/Jar.gif"
            category="org.softwareFm"
            class="org.softwareFm.scanView.ScanView"
            id="org.softwareFm.scanView.ScanView">
      </view>
   </extension>
   <extension   point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension    targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view   ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.softwareFm.scanView.ScanView">
         </view>
      </perspectiveExtension>
   </extension>
    
    <extension  point="org.softwareFm.image">
      <image key="scanView.scan" class ="org.softwareFm.scanView.ScanViewConstants"/>
   </extension>
   
  <extension  point="org.softwareFm.bundle">
      <bundle name="ScanView" class="org.softwareFm.scanView.ScanViewConstants"/>
   </extension>
</plugin>
