<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.softwareFm.eclipse.image" name="Image" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.bundle" name="Bundle" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.dataStore" name="dataStoreConfigurator" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.smallButton" name="smallButton" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.action" name="action" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.displayer" name="displayer" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.listEditor" name="listEditor" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.editor" name="editor" schema="schema/org.softwareFm.eclipse.exsd"/>
   <extension-point id="org.softwareFm.eclipse.largeButton" name="largeButton" schema="schema/org.softwareFm.eclipse.exsd"/>



<extension  point="org.softwareFm.eclipse.image">
      <item class ="org.softwareFm.softwareFmImages.BasicImageRegisterConfigurator"/>
</extension>

<extension  point="org.softwareFm.eclipse.bundle">
      <item name ="SoftwareFmDisplay" class="org.softwareFm.configuration.SoftwareFmPropertyAnchor"/>
</extension>

<extension  point="org.softwareFm.eclipse.dataStore">
      <item class="org.softwareFm.eclipse.DataStoreConfigurator"/>
</extension>

<extension  point="org.softwareFm.eclipse.smallButton">
      <item class="org.softwareFm.configuration.configurators.SmallButtonConfigurator"/>
</extension>

<extension  point="org.softwareFm.eclipse.listEditor">
      <item class="org.softwareFm.configuration.configurators.ListEditorConfigurator"/>
</extension>


<extension  point="org.softwareFm.eclipse.action">
      <item class="org.softwareFm.configuration.configurators.ActionStoreConfigurator"/>
</extension>

<extension  point="org.softwareFm.eclipse.displayer">
      <item class="org.softwareFm.configuration.configurators.DisplayerStoreConfigurator"/>
</extension>

<extension  point="org.softwareFm.eclipse.editor">
      <item class="org.softwareFm.configuration.configurators.EditorFactoryConfigurator"/>
</extension>

<extension  point="org.softwareFm.eclipse.largeButton">
      <item class="org.softwareFm.configuration.largebuttons.JarLargeButtonFactory"/>
      <item class="org.softwareFm.configuration.largebuttons.ProjectDetailsLargeButtonFactory"/>
      <item class="org.softwareFm.configuration.largebuttons.ProjectSocialLargeButtonFactory"/>
      <item class="org.softwareFm.configuration.largebuttons.ProjectTrainingLargeButtonFactory"/>
      <item class="org.softwareFm.configuration.largebuttons.OrganisationLargeButtonFactory"/>
</extension>

 <extension  point="org.eclipse.ui.views">
      <category  name="SoftwareFm" id="org.softwareFm" />
      <view  name="SoftwareFm" icon="icons/sfm.gif" category="org.softwareFm"   
             class="org.softwareFm.eclipse.SoftwareFmView"   id="org.softwareFm.eclipse.SoftwareFmView" />
   </extension>
</plugin>
