<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension  point="org.eclipse.ui.views">
      <category  name="SoftwareFm" id="org.softwareFm" />
      <view  name="SoftwareFM" icon="icons/sfm.gif" category="org.softwareFm"   
             class="org.softwareFm.eclipse.plugin.ExplorerView"   id="org.softwareFm.eclipse.plugin.ExplorerView" />
      <view  name="Admin" icon="icons/sfm.gif" category="org.softwareFm"   
             class="org.softwareFm.eclipse.plugin.AdminView"   id="org.softwareFm.eclipse.plugin.AdminView" />
   </extension>
</plugin>
