<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Software FM"
            id="org.softwarefm">
      </category>
      <view
            name="Code"
            icon="icons/class.png"
            category="org.softwarefm"
            class="org.softwarefm.eclipse.views.CodeView"
            id="org.softwarefm.eclipse.views.ClassAndMethodView">
      </view>

      <view
            name="Artifact"
            icon="icons/project.png"
            category="org.softwarefm"
            class="org.softwarefm.eclipse.views.ArtifactView"
            id="org.softwarefm.eclipse.views.ProjectView">
      </view>
      <view
            name="SoftwareFM"
            icon="icons/all.png"
            category="org.softwarefm"
            class="org.softwarefm.eclipse.views.AllView"
            id="org.softwarefm.eclipse.views.AllView">
      </view>
      <view
            name="Debug - Text"
            icon="icons/debug.png"
            category="org.softwarefm"
            class="org.softwarefm.eclipse.views.DebugTextView"
            id="org.softwarefm.eclipse.views.SoftwareFmDebugView">
      </view>
      <view
            name="Debug - Link"
            icon="icons/debug.png"
            category="org.softwarefm"
            class="org.softwarefm.eclipse.views.DebugLinkView"
            id="org.softwarefm.eclipse.views.DebugLinkView">
      </view>
      <view
            name="Debug - Usage"
            icon="icons/debug.png"
            category="org.softwarefm"
            class="org.softwarefm.eclipse.views.DebugUsageView"
            id="org.softwarefm.eclipse.views.DebugUsageView">
      </view>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	 	<page 
	 	    id="org.softwarefm.preference.Page"
	 		name="SoftwareFM" class="org.softwarefm.eclipse.preference.SoftwareFMPreferencePage">
	   	</page>

	</extension>
	 <extension point="org.eclipse.ui.startup" />
</plugin>
