<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
			point="org.eclipse.ui.views">
		<category
				name="Software FM"
				id="org.softwarefm">
		</category>
		<view
				name="Code"
				icon="icons/class.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.CodeView"
				id="org.softwarefm.eclipse.views.ClassAndMethodView">
		</view>
		<view
				name="MyCode"
				icon="icons/class.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.MyCodeView"
				id="org.softwarefm.eclipse.views.MyClassAndMethodView">
		</view>

		<view
				name="Artifact"
				icon="icons/project.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.ArtifactView"
				id="org.softwarefm.eclipse.views.ProjectView">
		</view>
		<view
				name="SoftwareFM"
				icon="icons/all.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.AllView"
				id="org.softwarefm.eclipse.views.AllView">
		</view>
		<view
				name="Debug - Text"
				icon="icons/debug.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.DebugTextView"
				id="org.softwarefm.eclipse.views.SoftwareFmDebugView">
		</view>
		<view
				name="Debug - Link"
				icon="icons/debug.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.DebugLinkView"
				id="org.softwarefm.eclipse.views.DebugLinkView">
		</view>
		<view
				name="Debug - Usage"
				icon="icons/debug.png"
				category="org.softwarefm"
				class="org.softwarefm.eclipse.views.DebugUsageView"
				id="org.softwarefm.eclipse.views.DebugUsageView">
		</view>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page 
				id="org.softwarefm.preference.Page"
				name="SoftwareFM" class="org.softwarefm.eclipse.preference.SoftwareFMPreferencePage">
		</page>

	</extension>
	
	<extension point="org.eclipse.core.resources.markers" id="org.softwarefm.code.marker"
			name="Code Marker">
		<super type="org.eclipse.core.resources.textmarker"/>
		<super type="org.eclipse.core.resources.marker"/>
		<persistent value="false"/>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers" id="org.softwarefm.code.marker.global"
			name="Code Marker">
		<super type="org.softwarefm.code.marker"/>
		<persistent value="false"/>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers" id="org.softwarefm.code.marker.personal"
			name="Code Marker">
		<super type="org.softwarefm.code.marker"/>
		<persistent value="false"/>
	</extension>

	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type markerSeverity="0"
				super="org.eclipse.ui.workbench.texteditor.info"
				name="org.softwarefm.code.annotation.global"
				markerType="org.softwarefm.code.marker.global"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type markerSeverity="0"
				super="org.eclipse.ui.workbench.texteditor.info"
				name="org.softwarefm.code.annotation.personal"
				markerType="org.softwarefm.code.marker.personal"/>
	</extension>

	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
			id="org.softwarefm.code.specification" name="SoftwareFMAnnotation">
		<specification annotationType="org.softwarefm.code.annotation.global"
				label="Software FM code"
				icon="icons/signCode.gif"
				overviewRulerPreferenceKey="clruler"
				overviewRulerPreferenceValue="true"
				colorPreferenceKey="clcolor"
				colorPreferenceValue="255,255,0"
				textPreferenceKey="cltext"
				textPreferenceValue="true"
				verticalRulerPreferenceKey="clvertical"
				verticalRulerPreferenceValue="true"
				textStylePreferenceKey="clstyle"
				textStylePreferenceValue="BOX">
		</specification>
	</extension>

	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
			id="org.softwarefm.code.specification" name="SoftwareFMAnnotation">
		<specification annotationType="org.softwarefm.code.annotation.personal"
				label="Software FM code"
				icon="icons/signUser.gif"
				overviewRulerPreferenceKey="clruler"
				overviewRulerPreferenceValue="true"
				colorPreferenceKey="clcolor"
				colorPreferenceValue="255,255,0"
				textPreferenceKey="cltext"
				textPreferenceValue="true"
				verticalRulerPreferenceKey="clvertical"
				verticalRulerPreferenceValue="true"
				textStylePreferenceKey="clstyle"
				textStylePreferenceValue="BOX">
		</specification>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
				targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
				id="org.softwarefm.eclipse.annotations.rulerActions">
			<action
					label="Not Used"
					class="org.softwarefm.eclipse.annotations.DoubleClickAction"
					style="push"
					actionID="RulerClick"
					id="org.softwarefm.eclipse.annotations.DoubleClickAction"/>
		</editorContribution>
	</extension>

	<extension
			point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
				id="org.eclipse.example.jdt.internal.debug.ui.JavaHyperlinkDetector"
				targetId="org.eclipse.jdt.ui.javaCode"
				class="org.softwarefm.eclipse.annotations.internal.MarkerHyperlinkDetector"
				name="SoftwareFmHyperlinkDetector">
		</hyperlinkDetector>
	</extension>

	<!-- <extension point="org.eclipse.ui.popupMenus">
		<objectContribution
				id="Plugin.EditorContribution"
				objectClass="org.eclipse.ui.IEditorInput"
				nameFilter="*.*">
			<menu
					label="Software FM"
					path="additions"
					id="org.softwarefm.editor.menu">
				<separator 	name="group"></separator>
			</menu>
			<action
					label="Code"
					class="org.softwaremf.helloannotations.actions.CodeAction"
					menubarPath="org.softwarefm.editor.menu/group"
					enablesFor="1"
					id="org.softwaremf.helloannotations.actions.codeAction">
			</action>
		</objectContribution>        
	</extension> -->
	<extension point="org.eclipse.ui.startup" />
</plugin>
