<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Arc4Eclipse"
            id="org.arc4eclipse">
      </category>
      <view
            name="Arc4Eclipse - Debug Messages"
            icon="icons/sample.gif"
            category="org.arc4eclipse"
            class="org.arc4eclipse.debugMessagePanel.views.DebugMessageView"
            id="org.arc4eclipse.debugMessagePanel.views.debugMessageView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.arc4eclipse.debugMessagePanel.views.debugMessageView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
