<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.arc4eclipse.urlGenerator">
         <UrlGenerator name="project" class= "org.arc4eclipse.entityProjectData.ProjectUrlGenerator" />
   </extension>
   
   <extension  point="org.arc4eclipse.repositoryPropogator">
         <repositoryStatusPropogator class= "org.arc4eclipse.entityProjectData.ProjectRepositoryStatusListenerPropogator" />
   </extension>
   
      <extension  point="org.arc4eclipse.displayContainerFactoryConfigurator">
         <DisplayContainerFactoryConfigurator entity="project" class= "org.arc4eclipse.entityProjectData.ProjectConfigurer" />
   </extension>
</plugin>
