<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension  point="org.softwareFm.displayers" >
         <display key="src" class ="org.softwareFm.displayJavadocAndSource.SourceDisplayer"/>
         <display key="javadoc" class ="org.softwareFm.displayJavadocAndSource.JavadocDisplayer"/>
   </extension>	


	<extension  point="org.softwareFm.bundle">
	      <bundle name="JavadocAndSource" class="org.softwareFm.displayJavadocAndSource.SourceDisplayer"/>
	</extension>
</plugin>
