<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.arc4eclipse.displayers" >
         <display key="jar" class ="org.arc4eclipse.displayJarPath.JarPathDisplayer"/>
   </extension>
   <extension  point="org.arc4eclipse.bundle">
      <bundle name="DisplayJar" class="org.arc4eclipse.displayJarPath.DisplayJarConstants"/>
</extension>
   

</plugin>
