<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension  point="org.softwareFm.displayers" >
         <display key="jar" class ="org.softwareFm.displayJarPath.JarPathDisplayer"/>
   </extension>
   
   <extension  point="org.softwareFm.bundle">
      <bundle name="DisplayJar" class="org.softwareFm.displayJarPath.DisplayJarConstants"/>
   </extension>
   


</plugin>
